<ng-container *ngIf="(upcomingEvents | async)?.length">
  <h2 [translate]="'NächsteFlohmärkte'" class="text-center mt-0"></h2>
  <table class="table table-hover table-borderless my-5 text-opacity-25">
    <tbody>
    <tr *ngFor="let event of upcomingEvents | async"  [class.bg-warning]="!(event.day < today || event.day > today)">
      <td class="h3" style="width: 120px">{{event.day | dateTimeFormatOptions : {month: '2-digit', day: '2-digit'} }}</td>
      <td class="h4" style="width: 200px;">{{(event | translateEntry).location}}</td>
      <td class="h4">{{(event | translateEntry).street}}</td>
    </tr>
    </tbody>
  </table>

</ng-container>
