<table class="table table-hover">
  <thead>
  <tr>
    <th [translate]="'Date'" scope="col"></th>
    <th [translate]="'City'" scope="col"></th>
    <th [translate]="'Location'" scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of locations | async" [class.bg-warning]="!(i.day < today || i.day > today)" [class.text-muted]="i.day < today">
    <th>{{i.day | date: 'longDate'}}</th>
    <td>{{(i |translateEntry).location}}</td>
    <td>{{(i |translateEntry).street}}</td>
  </tr>
  </tbody>
</table>
