@use 'bootstrap/scss/bootstrap';

.margin-main {
  margin-top: 100px;
}

.btn-xl {
  border: none;
  border-radius: 10rem;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 1.25rem 2.25rem;
  text-transform: uppercase;
}
