header.masthead {
  margin-top: -100px;
}

.page-section {
  padding: 8rem 0;
}

header.masthead {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("pustertaler-flohmarktfreunde/assets/img/bg-masthead.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: calc(10rem - 4.5rem);
  padding-top: 10rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-bottom: 0;
    padding-top: 4.5rem;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}

